

<h1 class="border border-success bg-success text-center mt-5 mb-5 p-3">TO DO LIST</h1>

<div class="container d-flex align-items-start p-0 " id="todolist">
  <div class="todo-list text-left m-0 d-flex flex-column">
  <h2 class="text-center">A FAIRE</h2>
    <ul class="m-auto mt-0 p-0 w-75">
      <% @tasks.each do |task| %>
      <li >
        <% unless task.completed %>
        ❌
        <%= link_to task.title.upcase, task_path(task) %>

        <%= link_to edit_task_path(task) do%>
        <i class="fa fa-book-open text-warning"></i>
        <% end %>

        <%= link_to task_path(task), method: :delete, data: { confirm: "Are you really sure to delete #{task.title} ?? 😱" } do %>
        <i class="fa fa-trash text-danger ml-1" aria-hidden="true"></i>
        <% end %>

        <% end %>
      </li>
      <% end %>
    </ul>
  </div>


  <div class="todo-list text-left m-0 d-flex flex-column">
   <h2 class="text-center">FINIES</h2>
   <ul class="m-auto mt-0 p-0 w-75">
    <% @tasks.each do |task| %>
    <li>
      <% if task.completed %>
      ✅
      <%= link_to task.title.upcase, task_path(task) %>
      <%= link_to edit_task_path(task) do%>
      <i class="fa fa-book-open text-warning"></i>
      <% end %>
      <%= link_to task_path(task), method: :delete, data: { confirm: "Are you really sure to delete #{task.title} ?? 😱" } do %>
      <i class="fa fa-trash text-danger" aria-hidden="true"></i>
      <% end %>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>

</div>

<div class="text-center p-5">
  <%= link_to new_task_path do %>
  <span class="btn btn-primary p-3 text-white">
    <i class="fa fa-plus"></i> AJOUTER UNE TÂCHE
  </span>
  <% end %>
</div>
